<!--
<ons-page>
    <ons-toolbar>
        <div class="center">Navigator</div>
    </ons-toolbar>

    <div style="text-align: center">
        <br>
        <ons-button
            onclick="myNavigator.pushPage('page2.html')">
            Push Page 2
        </ons-button>
        <br/>
        <br/>
        <ons-button
            onclick="savePost()">
           ツイートを保存
        </ons-button>
        <button id="test">tanishi</button>
    </div>

</ons-page>
-->

<!doctype html>


<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="../onsen-css-components-blue-basic-theme.css">
    <link rel="stylesheet" href="timeline.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/ncmb-latest.min.js"></script>
    
    
    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <script>
      ons.bootstrap();
    </script>

  </head>
  <body>
  



    <ons-tabbar>
      <ons-tab page="timeline.html" active="true">
        <ons-icon icon="ion-ios-clock-outline" class="tab-icon"></ons-icon>
      </ons-tab>
      <ons-tab page="timeline.html">
       <div class="notification reply-notification" ons-tab-inactive>4</div>
        <ons-icon icon="ion-chatbubbles" class="tab-icon"></ons-icon>
      </ons-tab>
      <ons-tab page="timeline.html">
       <ons-icon icon="ion-thumbsup" class="tab-icon"></ons-icon>
      </ons-tab>
    </ons-tabbar>
    

    
    <ons-template id="timeline.html">
      <ons-page id="main">
        <ons-toolbar id="toolbar">
          <div class="center">
          
            <img ng-src="images/publife2.png" class="topimage">
            
           <!-- <HR id="sen" width="100%">
            <span id="category" >アプリ・サービス</span> <span id="komozi">time order</span>-->
          </div>
          <div class="left" id="left">

            <ons-toolbar-button onclick="app.slidingMenu.setMainPage('mypage.html', {closeMenu: true});">
                <i class="fa fa-user" id="mypage"></i>
            </ons-toolbar-button>
          </div>
          <div class="right">
            <ons-toolbar-button>
              <ons-icon icon="ion-ios-search-strong" id="kensaku" fixed-width="false" style="font-size: 26px; vertical-align: -4px;"></ons-icon>
            </ons-toolbar-button>
          </div>
        </ons-toolbar>
        
        
        
        <ons-navigator class="anime" animation="slide" var="app.navi">
        <ons-list id="page1-timeline" class="timeline" modifier="inset">


          
        </ons-list>
        </ons-navigator>



          
          <ons-template id="userpage1.html">
            <ons-page id="detail">
            <div id="replycontents">
                <ons-list class="idealine" modifier="inset">
                
                </ons-list>
            
                <ons-list class="resline" modifier="inset">
                </ons-list>
            
                <ons-button
                    onclick="replyAppearance()" id="replybutton">
                    返信する
                </ons-button>
            
                     <ons-button modifier="light" ng-click="app.navi.popPage('page.html');" id="backbutton">←Back</ons-button>
            </div>

            <div id="replyinput">
                <textarea id="replytext" type="text" class="textarea" ng-model="text" placeholder="返信内容" style="width:70%; height:82px; float:left; margin:1px;margin-left:5px;"></textarea>
                <div>
                    <ons-button id="rpl" onClick="replySubmit()" style="float:right; margin:1px;margin-right:5px;">Submit</ons-button> 
                    <ons-button onClick="cancelSubmit()" style="float:right; margin:1px;margin-right:5px;">Cancel</ons-button>       
                </div>
                

            </ons-page>
          </ons-template>
          


      </ons-page>
    </ons-template>
    
    
    
 

  </body>
</html>

